body {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image:url('bgq.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

#quiz-container {
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #2980b9;
}

.hide {
    display: none;
}